{% extends 'base.html' %} 
{% load i18n %}
{% block content %}
<div class="borderBottomLighter mb-5">
    <h1>{% trans "Edit Post"%}</h1>
</div>

<form class="mt-5 mb-5 new-post-form" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group">
        {{ form.title }}
    </div>
    <div class="form-group">
        {% if post.image %}
            <img src={{post.image}} class="img-fluid" alt="Responsive image"/>
        {% endif %}
        {{form.image}}
    </div>
    <div class="form-group">
        {{form.summary}}
    </div>
    <div class="form-group">
        {{form.content}}
    </div>
    <div class="form-group">
        {{form.blogs}}
    </div>
    <div class="form-group">
        {{form.tags}}
    </div>
    <button class="btn btn-primary" type="submit" name="publish">{% trans "Save" %}</button>
</form>
{% endblock %}