{% load i18n %}
{% if posts %}
<section class="row section-post">
    <!-- Post -->

    {% for post in posts %}

    <div class="col-md-12 col-12">
        <article class="post">
            <header>
                <div class="title">
                    <h2>
                        <a href="{% url 'post-detail' blog_pk=post.blog.id post_pk=post.id %}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.summary}}</p>
                </div>
                <div class="meta">
                    <time class="publication-date">{{ post.publication_date }}</time>
                    <a href="#" class="author">
                        <span class="name">{{ post.blog.title}}</span>
                        <img src={% if post.blog.logo %} {{ post.blog.logo }} {% else %}
                            "https://www.hackster.io/assets/about/icon-blog-views-e31708c9be9be716040f0c09355b6a884fdbbdc2b171ccee3555cd89a2ad83da.png" {% endif %} class="border-tlr-radius">
                    </a>
                </div>
            </header>
            <a href="{% url 'post-detail' blog_pk=post.blog.id post_pk=post.id %}" class="image featured">
                <img src={% if post.image %} {{post.image}} {% else %} "http://lorempixel.com/400/200/sports/" {% endif %} alt="" />
            </a>
            <p>{{post.content}}</p>
            <footer>

                <ul class="actions">
                    <li>
                        <a href="{% url 'post-detail' blog_pk=post.blog.id post_pk=post.id %}" class="button big">{% trans "Continue Reading" %}</a>
                        {% if user.id == post.owner.id %}
                        <a href="{% url 'edit-post' post_pk=post.id %}" class="btn btn-primary btn-xs">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a href="{% url 'delete-post' post_pk=post.id %}" class="btn btn-danger btn-xs">
                            <span class="fa fa-trash"></span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
                <ul class="stats">
                    {% for tag in post.tags %}
                    <li>
                        <a href="#"> {{ tag.name }} </a>
                    </li>{% endfor %}
                    <li>
                        <button id="{{ post.id }}" class="btn btn-link favourite-button" value="{{ post.likes }}" data-action="{% if user.id in post.likes%}unvote{%else%}upvote{%endif%}">
                            {% if user.id in post.likes%}

                            <i class="fa fa-heart" aria-hidden="true"> {{ post.likes|length }}</i>

                            {% else %}
                            <i class="fa fa-heart-o" aria-hidden="true"> {{ post.likes|length }}</i>
                        
                        {% endif %}
                        </button>
                        </button>
                        <button class="btn btn-link">
                            <i class="fa fa-comments" aria-hidden="true"> {{ post.comments|length }}</i>
                        </button>
                    </li>
                </ul>
            </footer>
        </article>

    </div>

    {% endfor %}
    <div class="ui-error">
        {% trans "An error has occurred" %}
    </div>
    <div class="ui-blank">
        <p>{%trans "No posts yet" %}</p>
    </div>
    <div class="ui-loading">
       {% trans "loading..." %} 
    </div>
</section>


{% else %}
<p>{% trans "This blog has no articles" %}</p>

{% endif %}

<script>
    let url = "{{next}}";
    let user = "{{ user.id }}";
</script>