<div class="comment-container">

    <h3>Zona de comentarios</h3>

    <form class="mt-5">
        <div class="form-group">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escribe un comentario">
        </div>
    </form>

    <div class="card mb-3">
        <div class="card-body">
            Excelente post

        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
           Los putos amos

        </div>
    </div>

</div>