<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teckium</title>
    <link rel="stylesheet" href="{% static 'ui/css/style.css' %}">
</head>
<body>

{% if messages %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="login-page">
  <div class="form">
    <h1>Teckium</h1>
    <form class="login-form" method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
        {{ field }}
      {% endfor %}
      <button>Sign in</button>
      <p class="message">{% trans "Are you registered?"%} <a href="{% url 'login' %}">{% trans "Log in" %}</a></p>
    </form>
  </div>
</div>

</body>

<script src="{% static 'ui/js/main.js' %}"></script>
</html>