.card-footer {
  background-color: #fff;
  border-top: none;
  .footer-info {
    display: flex;
    flex-direction: row;

    .blog-img {
      padding-right: 10px;
    }

    .blog-info {
      .publication-date {
        font-size: 13px;
        color: rgba(78, 76, 76, 0.54);
      }
      .blog-title {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .blog-stats {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .btn-link {
        padding-right: 2px;

        i:before {
          margin-right: 5px;
        }
      }
    }
  }
}

.card-detail {
  padding: 3em 3em 1em 3em;

  header {
    display: flex;
    padding: 3.75em 3em 1.25em 3em;
    margin: -3em 0 3em;
    flex-direction: column;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);

    .title-detail {
      margin: 0 0 2em 0;
      padding: 0;
      text-align: center;
    }

    .meta {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 2em 0;
    }

    a {
      border-left: solid 1px rgba(160, 160, 160, 0.3);
      margin-left: 2em;
      padding-left: 2em;
      .name {
        margin: 0 0 0 1.5em;
        border-bottom: dotted 1px rgba(160, 160, 160, 0.3);
      }
    }
  }
  .card-img {
    margin: 0 0 3em 0;
  }
  .card-body {
    margin: 0 0 2em 0;
  }

  .card-footer {
    margin: 0 0 2em 0;
    .tags {
      list-style: none;
      padding: 0;

      li {
        font-size: 15px;
        display: inline-block;
        border-radius: 3px;
        padding: 5px 10px;
        background: rgba(168, 162, 162, 0.658);
        a{
            color:inherit;
            text-decoration: none;
        }
      }
      li:hover {
        background: rgba(168, 162, 162, 0.541);
      }
    }
  }
}

.card-comment{

    .meta{
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(168, 162, 162, 0.541);
        .author{
            font-size: 14px;
            display: flex;
            flex-direction: column;
            margin-left: 15px;
        }
        .button-delete{
          margin-left: auto;
        }
    }
    .content{
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}




/**
 * Card Styles
 */

.card {
	background-color: #fff;
	margin-bottom: 18px;
}

.card__padding {
	padding: 1.6rem;
}
 
.card__image {
	min-height: 100px;
	background-color: #eee;
}
	.card__image img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

.card__content {
	position: relative;
}

/* card meta */
.card__meta time {
	font-size: 14px;
	color: #bbb;
	margin-left: 0.8rem;
}

/* card article */
.card__article a {
	text-decoration: none;
	color: #444;
  transition: all 0.5s ease;
  
}

.card-text{
  color: rgb(102, 102, 102);
}

	.card__article a:hover {
		color: #2980b9;
	}

/* card action */

	

	.card__author img,
	.card__author-content {
		display: inline-block;
		vertical-align: middle;
	}

	.card__author img{
		border-radius: 50%;
		margin-right: 0.6em;
	}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}

.card__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}
	.card__social--active {
		visibility: visible;
		/*z-index: 3;*/
		transform: translateZ(0);
 		transform: translateX(-48px);
  		transition: transform 0.35s ease;
	}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: #3498db;
}
	.share-toggle.share-expanded:before {
		content: "\f00d";
	}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow: 
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

.facebook {
	background-color: #3b5998; 
}
.twitter {
	background-color: #00abe3; 
}
.googleplus {
	background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
	color: #fff;
}

	.facebook:hover,
	.twitter:hover,
	.googleplus:hover {
		color: #eee;
	}
