// Dark links against a light background
.navbar-teckium {
  background-color: #fff;
  box-shadow: 0px 2px 18px rgba(0,0,0,0.3);
  height: 80px;

  .navbar-brand {
    color: #4caf50;
    font-size: 2rem;
    font-family: "Yellowtail";
    letter-spacing: 0px;
    font-weight: 400;
    margin: 0 30px;
    cursor: pointer;

    @include hover-focus {
      color: #4caf50;
    }


  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: #43a047;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: 4caf50;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
  }

}

.img-profile-menu {
    width: 32px;
    height: 32px;
}




@media (max-width: 991px) {
  .navbar {
    min-height: 180px;
  }

  .navbar-teckium .navbar-brand {
    padding: 0 15px;
    font-size: 4.5rem;
    line-height: 180px;
  }

  .navbar-toggler {
      font-size: 3.25rem;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    font-size: 2.5rem;
    padding-top: 20px;
    line-height: 80px;
  }
}