// Dark links against a light background
.navbar-teckium {
  background-color: #fff;
  box-shadow: 0px 2px 18px rgba(0,0,0,0.3);

  .navbar-brand {
    color: #4caf50;

    font-family: "Yellowtail";
    font-size: 34px;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 0 30px;
    cursor: pointer;

    @include hover-focus {
      color: #4caf50;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: #43a047;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: 4caf50;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
  }
}

.img-profile-menu {
    width: 32px;
    height: 32px;
}

